/* -----------Подключение Comfortaa------------ */
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
/* -----------Подключение Poppins------------ */
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
/* -----------Подключение Roboto------------ */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
/* -----------Подключение Montserrat------------ */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
.header{
    width: 1920px;
    height: 405px;
    background: url(../img/Login/HeaderBgModalForms.png) no-repeat center center / cover;
}
.header__container{
    width: 1213px;
    height: 40px;
    padding: 61px 0px;
    margin: 0px 339px 231px 368px;
    display: flex;
    justify-content: space-between;
}
/* ----Header LOGO---- */
.header__logo{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__logo:hover{
    transform: scale(1.2);
}
/* ----Header NAV---- */
.header__nav{
    width: 376px;
    display: flex;
    justify-content: space-between;
}
.nav__item{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 0px;
}
.nav__item:hover{
    border-bottom: 1px solid #FFFFFF;
    transform: scale(1.2);
}
/* ----Header LOG----- */
.header__log{
    width: 282px;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
}
.log__btn{
    width: 132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px 16px;
    margin-right: 25px;
}
.log__btn:hover{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.4237px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #BB6DF3;
    background: #FFFFFF;
    border-radius: 30px;    
}
/* ----CONTACT SECTION---- */
.contact__section{
    text-align: center;
}
.contact__container{
    margin-top: -85px;
    height: 1044px;
    width: 1920px;
}
.contact__container .contact__title{
    font-size: 72px;
    color: #3b668d;
    letter-spacing: 0.405em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.contact__container .contact__name{
    letter-spacing: 0.905em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    margin-bottom: 85px;
    color: #3b668d;
}
/* --------------------------- Настройка второй секции сайта, ее элементов --------------------------- */
.drop__section{
    text-align: center;
    margin-bottom: 416px;
}
.drop__section .drop__container{
    width: 1920px;
    height: 1000px;
    background: url(../img/contact/Sec2BgContact.png) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 145px;
    font-family: "Comfortaa", sans-serif;
}
.drop__title{
    font-size: 72px;
    color: #3b668d;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 29px;
}
.drop__name{
    font-size: 30px;
    color: #79788f;
    font-weight: 400;
    margin-bottom: 79px;
}
.drop__email_contact{
    width: 630px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 61px;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    padding-left: 57px;
    outline: none;
    border: 0px;
    margin-bottom: 20px;
}
.drop__name_contact{
    width: 630px;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 61px;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    padding-left: 57px;
    outline: none;
    border: 0px;
    margin-bottom: 20px;
}
.ContactHTML .drop__name_contact::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
}
.ContactHTML .drop__email_contact::-webkit-input-placeholder{
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
}
.drop__text{
    color: #3b3f8d;
    font-size: 24px;
    font-weight: 700;
    margin-right: 45px;
}
.drop__container div{
    display: flex;
    align-items: center;
    align-self: center;
}
.drop__container textarea{
    width: 749px;
    height: 273px;
    align-self: center;
    padding: 30px;
    outline: none;
    border-radius: 50px;
    background-color: #f3f3f3;
    color: #adadad;
    font-size: 24px;
    font-weight: 700;
    resize: none;
    border: 0px;
    margin-bottom: 20px;
}
.drop__container textarea::-webkit-input-placeholder{
    color: #adadad;
}
.drop__container div a{
    background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
    border-radius: 62px;
    width: 250px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s all;
    margin-left: 155px;
}
.drop__container div .drop__subtitle{
    font-size: 18px;
    font-weight: 700;
    color: #adadad;
}
/* ----DOWNLOAD SECTION---- */
.download__section{
    width: 1920px;
    height: 409px;
}
.content__wrapper{
    width: 1213px;
    height: 100%;
    margin: 0 auto;
}
.download__container{
    width: 1920px;
    height: 261px;
    background: url(../img/index/Sec4Bg.png) no-repeat center center / cover;
}
.download__block{
    width: 100%;
    height: 106px;
    display: flex;
}
.blocks__container{
    display: flex;
}
.block__texts{
    margin-left: 30px;
    padding-top: 12px;
}
.block__number{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #425B8C;   
}
.block__text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-top: 16px;
    color: #718DC2;
    white-space: nowrap;
}
.block__icon{
    padding-top: 20px;
    width: 74px;
    height: 74px;
}
/* ----FOOTER SECTION---- */
.footer__section{
    width: 1920px;
    height: 1085px;
    background: url(../img/index/FooterBg.png) no-repeat center center / cover;
}
.footer__container{
    padding-top: 448px;
    width: 1600px;
    height: 578px;
    margin: 0 auto;
}
.columns__container{
    width: 1467px;
    height: 407px;
    margin-bottom: 79px;
    display: flex;
}
.column1__container{
    width: 422px;
    height: 407px;
    margin-right: 167px;
}
.column2__container{
    width: 418px;
    height: 407px;
    display: flex;
    flex-direction: column;
    margin-right: 174px;
}
.column3__container{
    width: 285px;
    height: 407px;
    display: flex;
    flex-direction: column;
}
.column__title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.column__text{
    width: 418px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.column__share{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.column__share:hover{
    color: wheat;
}
.column__email{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}
.column3__text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.copyright__text{
    margin: 65px 456px 0px 456px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
}